@font-face {font-family: 'Pathway Gothic One'; font-style: normal; font-weight: 400; src: local('Pathway Gothic One'), url(Pathway.woff) format('woff');}
body {color: #fff; font-family: "Pathway Gothic One", "agency fb", "arial narrow", "微软雅黑", "黑体",  "Hind"; background-color: #81D8D0;	margin: 0;padding: 0; -webkit-user-select:none;}
div {border: 0px #f00 dashed;box-sizing: border-box;	-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}	
div, a{ -webkit-tap-highlight-color:rgba(0,0,0,0); } 
/*img{border: 0;}	*/	
.clear {clear: both	} .hide{display: none;}
#city{width: 50%; position: fixed; z-index: 999; left: 25px; top: 25px;  font-weight: bold;  color: #def4f1;}
#txtD{width: 50%;  position: fixed; z-index: 999; right: 25px; top: 25px; font-weight: bold; text-align: right; color: #def4f1;}
.loading{width: 100%; position: fixed; text-align: center; z-index: 999; left: 0; top: 50px;   color: #fff; font-size: 2em;}
/*#hourlist{width: 100%;  left: 25px; top: 55px; color: #81D8D0; font-size: 1em;}*/
.hourlist2{ width: 100%; background: #fff;}
#hourlist1{position: absolute; bottom: 25px;  width: 100%; text-align: center;}
.Hlist{ color: #fff; font-size: 1em; } .Hlist2{color: #ff0; opacity: .8;}
/*.toptxt{text-shadow:#81D8D0 1px 0 0,#81D8D0 0 1px 0,#81D8D0 -1px 0 0,#81D8D0 0 -1px 0; opacity: 1;}*/
#top {background-color: #81D8D0; position: fixed; top: 0; width: 100%; z-index: -10;}
.middle{background-color: #fff; position: absolute; bottom: 0; z-index: 10; width: 100%; }
.bgimg{width: 100%; height: 100%; opacity: .5; background: url(../img/bg.jpg) ; background-size:auto 100%; background-position: center; }
.foot {background-color: #81D8D0; position: fixed; bottom: 0; z-index: -9; width: 100%; }
.foot2 { position: absolute; top: 0; z-index: 9; width: 100%;}
/*#top {background-color: #00cc00;}*/
#tmp {font-size: 10em;text-align: center; position: absolute; top: 100px; width: 100%; opacity: 0;}
.aqi{text-align: center; position: absolute; top: 100px; width: 100%; font-size: 1em; }
#icon{text-align: center; opacity: .7; position: absolute; z-index: 100; bottom: 100px; left: 50%; margin-left: -40px; width: 80px; height: 80px;border-radius: 40px; background: #fff;}
#icon img{width: 80%;  margin-top: 8px;}
#updateTime{color: #fff; position: absolute; z-index: 100; bottom: 5px; right: 5px; opacity: .9;}
#nino{color: #81D8D0; position: absolute; z-index: 100; bottom: 5px; left: 5px; opacity: .3;}
.tmpL , .tmpH{font-size: .2em; opacity: .5; padding-left: 0;}
.c{font-size: .5em;}
.cc{font-size: .5em; }
.left{float: left; height: 34px;padding: 4px 0;text-align: center; font-size: 1.1em;}
.left img{padding: 0 4px 0 0; width: 22px;}
.div20{width: 20%; text-align: center;}
.div10{width: 10%; }
.div15{width: 15%}
.Tleft{text-align: left; padding-left: 1px; color: #bcf0f2;}
.Tleft2{text-align: left; padding-left: 1px; }
.Tright{text-align: right; padding-right: 1px; color: #ff0;}
.div90{width: 90%; margin: 0 auto;}
.list{margin-top: 100px;}
.listTxt{width: 100%; text-align: center; padding-top: 100px;}
.week{ color: #bcf0f2; ;  font-size: .9em; padding: 0 0 0 4px;}

.citylist{position: fixed; height: 50%; width: 100%; bottom: 0; z-index: 998; background: #fff;  text-align: center;  }
.citylistName{width: 25%;     font-weight: bold; font-size: .95em; color: #81D8D0; }
.citylistWidth{width: 80%; margin: 30px auto;}
.inputBtn{ color: #fff; font-size: 1em; font-weight: bold; padding: 7px 15px; background: #81D8D0; border-radius: 5px;}
.inputTxt{width: 80%; font-size: 1em;  margin: 20px auto; border: 1px solid #81D8D0; color: #81D8D0; padding: 6px 5px; border-radius: 5px;}
.cityAdd{font-size: 1em; font-family: "微软雅黑";}


input,textarea {    -webkit-appearance: none; /* 方法2 */   border-radius: 0;}

